[submodule "ElMenus-Server"]
	path = ElMenus-Server
	url = https://github.com/gunsnroses0/ElMenus-Server.git
[submodule "ElMenus-Database"]
	path = ElMenus-Database
	url = https://github.com/gunsnroses0/ElMenus-Database.git
[submodule "ElMenus-Auth"]
	path = ElMenus-Auth
	url = https://github.com/gunsnroses0/ElMenus-Auth.git
[submodule "ElMenus-Search"]
	path = ElMenus-Search
	url = https://github.com/gunsnroses0/ElMenus-Search.git
[submodule "ElMenus-Bucketlists"]
	path = ElMenus-Bucketlists
	url = https://github.com/gunsnroses0/ElMenus-Bucketlists.git
[submodule "ElMenus-Favorites"]
	path = ElMenus-Favorites
	url = https://github.com/gunsnroses0/ElMenus-Favorites.git
[submodule "ElMenus-Followers"]
	path = ElMenus-Followers
	url = https://github.com/gunsnroses0/ElMenus-Followers.git
