[submodule "ElMenus-Server"]
	path = ElMenus-Server
	url = https://github.com/gunsnroses0/ElMenus-Server.git
[submodule "ElMenus-Database"]
	path = ElMenus-Database
	url = https://github.com/gunsnroses0/ElMenus-Database.git
[submodule "ElMenus-Auth"]
	path = ElMenus-Auth
	url = https://github.com/gunsnroses0/ElMenus-Auth.git
[submodule "ElMenus-Search"]
	path = ElMenus-Search
	url = https://github.com/gunsnroses0/ElMenus-Search.git
[submodule "ElMenus-Bucketlists"]
	path = ElMenus-Bucketlists
	url = https://github.com/gunsnroses0/ElMenus-Bucketlists.git
[submodule "ElMenus-Favorites"]
	path = ElMenus-Favorites
	url = https://github.com/gunsnroses0/ElMenus-Favorites.git
[submodule "ElMenus-Followers"]
	path = ElMenus-Followers
	url = https://github.com/gunsnroses0/ElMenus-Followers.git
[submodule "ElMenus-Users"]
	path = ElMenus-Users
	url = https://github.com/gunsnroses0/ElMenus-Users.git
[submodule "ElMenus-Reviews"]
	path = ElMenus-Reviews
	url = https://github.com/gunsnroses0/ElMenus-Reviews.git
[submodule "ElMenus-Comments"]
	path = ElMenus-Comments
	url = https://github.com/gunsnroses0/ElMenus-Comments.git
[submodule "ElMenus-Likes"]
	path = ElMenus-Likes
	url = https://github.com/gunsnroses0/ElMenus-Likes.git
[submodule "ElMenus-Plates"]
	path = ElMenus-Plates
	url = https://github.com/gunsnroses0/ElMenus-Plates.git
[submodule "ElMenus-Orders"]
	path = ElMenus-Orders
	url = https://github.com/gunsnroses0/ElMenus-Orders.git
[submodule "ElMenus-Blocks"]
	path = ElMenus-Blocks
	url = https://github.com/gunsnroses0/ElMenus-Blocks.git
[submodule "ElMenus-Reports"]
	path = ElMenus-Reports
	url = https://github.com/gunsnroses0/ElMenus-Reports.git
[submodule "ElMenus-Chat"]
	path = ElMenus-Chat
	url = https://github.com/gunsnroses0/ElMenus-Chat.git
[submodule "ElMenus-Notifications"]
	path = ElMenus-Notifications
	url = https://github.com/gunsnroses0/ElMenus-Notifications.git
[submodule "ElMenus-Questions"]
	path = ElMenus-Questions
	url = https://github.com/gunsnroses0/ElMenus-Questions.git
